*{
    border: none;
}
.search {
    width: 100%;
}
#city-search{
    width: 100%;
    border: 2px solid;
}
.saved-btn{
    width: 100%;
    margin: 15px 0;
    height: 3rem;
    background-color: rgb(126, 62, 88);
}
.card-body2,
.card-body3,
.card-body4,
.card-body5,
.card-body6{
    background-color: rgb(241, 93, 93);
}

.invisible{
    opacity: 0;
}
